@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/button" as button-mixin;
@use "../abstracts/media-query" as media;
@use "../abstracts/state" as state;
@use "../typography-presets" as typography-presets;

.form {
  display: grid;

  min-height: 400px;

  padding-top: 90px;
  padding-bottom: 90px;
  column-gap: variables.$spacing-1;

  @include mixins.container;

  @include media.sub-tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media.sub-desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include media.desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr)) minmax(0, auto);
  }
}

.form__hiding-wrapper {
  grid-column: 1 / 2;

  @include mixins.hiding-wrapper;

  @include media.sub-tablet {
    grid-column: 1 / 3;
  }

  @include media.sub-desktop {
    grid-column: 1 / 4;
  }

  @include media.desktop {
    grid-column: 1 / 5;
  }
}

.form__title {
  margin: 0 0 (variables.$spacing-8 - 1px);

  @include typography-presets.footer-title;

  &--will-reveal-up {
    transform: translateY(variables.$reveal-translating);
    will-change: transform;
  }
}

.form__field {
  margin: 0 0 variables.$spacing-2;

  &:last-of-type {
    margin: 0 0 variables.$spacing-3;
  }

  @include media.desktop {
    margin: 0;

    &:last-of-type {
      margin: 0;
    }
  }
}

.form__submit {
  align-self: start;

  min-width: 210px;

  margin: 0 0 variables.$spacing-8;

  @include button-mixin.button($is-accent: true);

  @include media.sub-tablet {
    grid-column: 1 / 2;

    margin: 0;
  }

  @include media.desktop {
    max-width: 330px;
    grid-column: unset;
  }
}

.form__note {
  max-width: 450px;
  margin: 0;

  @include typography-presets.footer-ghost;

  grid-column: 1 / 2;

  @include media.sub-tablet {
    grid-column: 2 / 3;

    align-self: end;
  }

  @include media.sub-desktop {
    grid-column: 2 / 4;
  }

  @include media.desktop {
    padding: variables.$spacing-8 0 0;

    grid-column: 1 / 5;
  }
}
