@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/media-query" as media;

.footer {
  position: relative;
  z-index: variables.$z-index-low;

  margin: 0;

  background-color: variables.$color-base;

  &:not(.footer--tight) {
    min-height: variables.$footer-min-height;

    @include mixins.fluid(
      padding-top,
      150px,
      251px,
    );

    @include media.ultra-slim-only {
      padding-top: 50px;

      @include mixins.fluid(
        padding-top,
        50px,
        150px,
        variables.$breakpoint-ultra-slim,
        variables.$breakpoint-mobile
      );
    }
  }
}

.footer__form-section {
  border-bottom: 1px solid rgba(variables.$color-white, 0.15);
}

